body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  width: 940px;
}
section{
  margin-top:20px;
  width: 100%;
  display: flex;
}
header, footer{
  background-color: gray;
  margin: 0 auto;
  height: 200px;
}

/* lorem ipsum */
.content{
  width: 40%;
  background-color: white;
  padding: 10px 25px;
}
.content h1{
  margin-top:0;
  color: #134880;
  font-size: 32px;
  font-weight: 700;
}
.content p{
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

/* slider */
.slider{
  user-select: none;
  width: 60%;
}
.slider .row{
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  position:relative;
  gap: 10px;
  margin-bottom: 10px;
}
.slider img{
  height: 200px;
  border-radius: 5px;
  z-index: -1;
}
#row2 > img:first-of-type{
  margin-right:170px;
}
#slider-controls{
  display:flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  padding:10px;
  width:150px;
  height: 190px;
  background-color: white;
}
#slider-controls button{
  height: 15px;
  border: 1px solid;
  padding: 20px 25px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  outline:none;
}

#go_left{
  background-image: url('../images/arrow-gray-left.png');
  background-repeat: no-repeat;
  background-position: center;
}
#go_left:hover{
  background-image: url('../images/arrow-blue-left.png');
}

#go_right{
  background-image: url('../images/arrow-gray-right.png');
  background-repeat: no-repeat;
  background-position: center;
}
#go_right:hover{
  background-image: url('../images/arrow-blue-right.png');
}