body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 100px auto;
  max-width: 941px;
}
section{
  margin-top:20px;
  display:grid;
  grid-template-columns: 2fr 1fr;
}

/* lorem ipsum */
.content{
  padding: 10px;
  margin: 0 20px;
}
.content h1{
  margin-top:0;
  color: #134880;
  font-size: 32px;
  font-weight: 700;
}
.content p{
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

/* slider */
.slider{
  overflow: hidden;
  user-select: none;
}
.slider .row{
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  position:relative;
  gap: 10px;
  margin-bottom: 10px;
}
.slider img{
  height: 200px;
  border-radius: 5px;
}
#row2 > img:first-of-type{
  margin-right:100px;
}
#slider-controls{
  display:flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  background-color: white;
  padding:10px;
  height:100%;
  width:80px;
}
#slider-controls img{
  height: 15px;
  border: 1px solid;
  padding: 20px 25px;
  border-radius: 5px;
  cursor: pointer;
}